In [1]:
import pandas as pd
import numpy as np

In [14]:
df = pd.DataFrame({"name":"华农兄弟","value":np.random.randn(30)*1000,"date":pd.period_range("2019/10/1","2019/10/30")})

In [15]:
df.head()

   name        value        date
0  华农兄弟   142.198462  2019-10-01
1  华农兄弟  1621.894596  2019-10-02
2  华农兄弟   670.363965  2019-10-03
3  华农兄弟   868.244302  2019-10-04
4  华农兄弟   670.884424  2019-10-05

In [17]:
ls_name = ["敬汉卿","王刚","山药","中二所","观视频"]
for name in ls_name:
    df_ = pd.DataFrame({"name":name,"value":np.random.randn(30)*1000,"date":pd.period_range("2019/10/1","2019/10/30")})
    df = pd.concat([df,df_])
df

    name        value        date
0   华农兄弟   142.198462  2019-10-01
1   华农兄弟  1621.894596  2019-10-02
2   华农兄弟   670.363965  2019-10-03
3   华农兄弟   868.244302  2019-10-04
4   华农兄弟   670.884424  2019-10-05
..   ...          ...         ...
25   观视频   505.589150  2019-10-26
26   观视频  1404.883414  2019-10-27
27   观视频  1487.122482  2019-10-28
28   观视频    11.470066  2019-10-29
29   观视频  -257.806061  2019-10-30

[180 rows x 3 columns]

In [22]:
df.to_excel(r"C:\Users\86177\Desktop\demo.xlsx",index=False)

In [33]:
rng = np.random.RandomState(1)
df = pd.DataFrame(rng.randint(10,100,size=(20,10))).add_prefix("y")
#生成20行，10列的数据，并添加标签
print(df)
df_top = df.cumsum(axis=0)#按列进行求和  太重要了
print(df_top)
df_right = df.cumsum(axis=1)
print(df_right)

    y0  y1  y2  y3  y4  y5  y6  y7  y8  y9
0   47  22  82  19  85  15  89  74  26  11
1   86  81  16  35  60  30  28  94  21  38
2   39  24  60  78  97  97  96  23  19  17
3   73  71  32  67  11  10  70  91  18  98
4   23  57  82  40  81  13  80  31  59  67
5   13  78  34  53  86  36  62  90  51  92
6   25  74  78  35  97  17  36  35  32  19
7   77  33  37  47  67  93  48  18  42  44
8   20  33  25  97  35  81  84  72  56  42
9   98  33  65  75  87  13  10  87  16  62
10  95  80  12  86  31  85  17  87  82  85
11  86  53  30  40  46  17  55  78  67  92
12  23  20  33  91  17  34  84  30  42  22
13  75  70  34  92  12  20  64  92  96  80
14  76  81  58  64  25  15  27  52  30  58
15  32  23  63  94  20  65  71  66  99  31
16  93  35  24  23  94  53  16  87  66  69
17  25  34  19  76  81  63  79  46  31  50
18  87  59  57  87  50  88  55  97  26  38
19  55  77  76  88  56  10  39  73  85  45
      y0    y1   y2    y3    y4   y5    y6    y7   y8    y9
0     47    22   82    19    85   15    89    74   26    11
1    133   103   98    54   145   45   117   168   47    49
2    172   127  158   132   242  142   213   191   66    66
3    245   198  190   199   253  152   283   282   84   164
4    268   255  272   239   334  165   363   313  143   231
5    281   333  306   292   420  201   425   403  194   323
6    306   407  384   327   517  218   461   438  226   342
7    383   440  421   374   584  311   509   456  268   386
8    403   473  446   471   619  392   593   528  324   428
9    501   506  511   546   706  405   603   615  340   490
10   596   586  523   632   737  490   620   702  422   575
11   682   639  553   672   783  507   675   780  489   667
12   705   659  586   763   800  541   759   810  531   689
13   780   729  620   855   812  561   823   902  627   769
14   856   810  678   919   837  576   850   954  657   827
15   888   833  741  1013   857  641   921  1020  756   858
16   981   868  765  1036   951  694   937  1107  822   927
17  1006   902  784  1112  1032  757  1016  1153  853   977
18  1093   961  841  1199  1082  845  1071  1250  879  1015
19  1148  1038  917  1287  1138  855  1110  1323  964  1060
    y0   y1   y2   y3   y4   y5   y6   y7   y8   y9
0   47   69  151  170  255  270  359  433  459  470
1   86  167  183  218  278  308  336  430  451  489
2   39   63  123  201  298  395  491  514  533  550
3   73  144  176  243  254  264  334  425  443  541
4   23   80  162  202  283  296  376  407  466  533
5   13   91  125  178  264  300  362  452  503  595
6   25   99  177  212  309  326  362  397  429  448
7   77  110  147  194  261  354  402  420  462  506
8   20   53   78  175  210  291  375  447  503  545
9   98  131  196  271  358  371  381  468  484  546
10  95  175  187  273  304  389  406  493  575  660
11  86  139  169  209  255  272  327  405  472  564
12  23   43   76  167  184  218  302  332  374  396
13  75  145  179  271  283  303  367  459  555  635
14  76  157  215  279  304  319  346  398  428  486
15  32   55  118  212  232  297  368  434  533  564
16  93  128  152  175  269  322  338  425  491  560
17  25   59   78  154  235  298  377  423  454  504
18  87  146  203  290  340  428  483  580  606  644
19  55  132  208  296  352  362  401  474  559  604

In [23]:
df = pd.DataFrame({"name":"华农兄弟","value":np.random.randn(30)*1000,"date":pd.period_range("2019/10/1","2019/10/30")})

In [29]:
df["value"]= df["value"].cumsum(axis=0)
df

    name        value        date
0   华农兄弟  2302.769993  2019-10-01
1   华农兄弟  1911.029210  2019-10-02
2   华农兄弟  2489.953999  2019-10-03
3   华农兄弟  2769.803346  2019-10-04
4   华农兄弟  3060.010637  2019-10-05
5   华农兄弟  4240.665065  2019-10-06
6   华农兄弟  3170.745056  2019-10-07
7   华农兄弟  3972.501231  2019-10-08
8   华农兄弟  4514.062158  2019-10-09
9   华农兄弟  5232.092292  2019-10-10
10  华农兄弟  4971.222803  2019-10-11
11  华农兄弟  5206.791063  2019-10-12
12  华农兄弟  4463.620861  2019-10-13
13  华农兄弟  3685.511742  2019-10-14
14  华农兄弟  4930.214371  2019-10-15
15  华农兄弟  5443.292364  2019-10-16
16  华农兄弟  6460.063429  2019-10-17
17  华农兄弟  7337.322492  2019-10-18
18  华农兄弟  7202.847351  2019-10-19
19  华农兄弟  7471.518678  2019-10-20
20  华农兄弟  7406.192631  2019-10-21
21  华农兄弟  7724.853402  2019-10-22
22  华农兄弟  7430.197235  2019-10-23
23  华农兄弟  6985.467618  2019-10-24
24  华农兄弟  6434.808580  2019-10-25
25  华农兄弟  4065.391112  2019-10-26
26  华农兄弟  4031.105160  2019-10-27
27  华农兄弟  4055.699211  2019-10-28
28  华农兄弟  4814.257505  2019-10-29
29  华农兄弟  5826.679089  2019-10-30

In [30]:
ls_name = ["敬汉卿","王刚","山药","中二所","观视频"]
for name in ls_name:
    df_ = pd.DataFrame({"name":name,"value":np.random.randn(30)*1000,"date":pd.period_range("2019/10/1","2019/10/30")})
    df_["value"]= df_["value"].cumsum(axis=0)
    df = pd.concat([df,df_])
df

    name        value        date
0   华农兄弟  2302.769993  2019-10-01
1   华农兄弟  1911.029210  2019-10-02
2   华农兄弟  2489.953999  2019-10-03
3   华农兄弟  2769.803346  2019-10-04
4   华农兄弟  3060.010637  2019-10-05
..   ...          ...         ...
25   观视频 -3696.807268  2019-10-26
26   观视频 -3241.662076  2019-10-27
27   观视频 -3694.173991  2019-10-28
28   观视频 -3860.787524  2019-10-29
29   观视频 -3290.295533  2019-10-30

[180 rows x 3 columns]

In [31]:
df.to_excel(r"C:\Users\86177\Desktop\demo_acc.xlsx",index=False)